@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
     Layout = "/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 class="text-center">Enter your email.</h2>
<hr />
<div class="container">
        <form method="post" class="resend-email-form ms-5 me-5 text-center">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
             <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success mt-4 mb-2 p-3">Resend</button>
                </div>
                <div class="col-lg-12">
                    <a class="btn btn-outline-danger p-2"asp-page="./Login" role="button">Cancel</a>
                </div>
            </div>
        </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
