
@{
    ViewData["Title"] = "DomainPage";
    Layout = "~/Views/Shared/DomainAdminDash.cshtml";
}
<div class="performance-options-container">
  <div>
      <h1 class="text-center mb-5">Domain Page</h1>
    <div>
    <div class="d-sm-flex mb-5 d-block">
      <div class="mainpg-card-first mb-5 mb-sm-0 me-sm-5 option-link text-center border border-success rounded p-3">
        <a class="option-text " href="~/Domain/ListAdminRoles" role="button">
          <h3>Admin Roles</h3>
          <img src="~/img/roleadminpic.png" class="img-fluid mainpage-usrs-pic" />
        </a>
      </div>
      <div class="mainpg-card option-link text-center border border-success rounded p-3">
        <a class="option-text" href="~/Domain/ReportsPage" role="button">
          <h3>Reports</h3>
          <img src="~/img/reportspic.png" class="img-fluid mainpage-usrs-pic" />
        </a>
      </div>
    </div>
    <div class="d-sm-flex d-block">
      <div class="mainpg-card mb-5 mb-sm-0 me-sm-5 option-link text-center border border-success rounded p-3">
        <a class="option-text" href="~/Domain/SEPoints" role="button">
          <h3>Profit Points</h3>
          <img src="~/img/profitspic.png" class="img-fluid mainpage-usrs-pic" />
        </a>
      </div>
      <div class="mainpg-card-last option-link text-center border border-success rounded p-3">
        <a class="option-text" href="~/Domain/ApproveRewards" role="button">
          <h3>Rewards</h3>
          <img src="~/img/rewardspic.png" class="img-fluid mainpage-usrs-pic" />
        </a>
      </div>
    </div>
    </div>
  </div>
</div>



 