@model IEnumerable<PReMaSys.Data.ApplicationUser>
@{
    ViewData["Title"] = "ListAdminRoles";
    //Layout = "~/Views/Shared/_Layout.cshtml";
     Layout = "~/Views/Shared/DomainAdminDash.cshtml";
}


<h1 class="text-center mt-5">Admin Account and Roles</h1>
<div class="ms-5 mt-5">
 <a asp-action="AddRole" asp-controller="Domain" class="btn btn-success  p-2">Add New Admin +</a>
 @*<a asp-action="AdminAllRoles" asp-controller="Domain" class="btn btn-success p-2">Assign Role</a>*@
</div>

@if (Model.Any()){
    foreach(var user in Model){
      <div class="px-5 mt-3"> 
        <div class="card">
            <div class="card-header">
                User Id :@user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5> 
            </div>
            <div class="card-footer">
                <form asp-action="DeleteAdminAccount" asp-route-id="@user.Id" method="post">
                    <a asp-action="AdminAllRoles" asp-controller="Domain" class="btn btn-success p-2">Assign Role</a>
                    <a asp-controller="Domain" asp-action="EditAdminRole" asp-route-id="@user.Id" class="btn btn-outline-success">Edit</a>
                        <button type="submit" class="btn btn-outline-danger" onclick='return confirm("Are You Sure?");'>Delete</button>
                </form>
            </div>
        </div>
    </div>
    }
}

<a class="notificationback-link btn btn-outline-success p-2 mt-3 ms-5" href="DomainPage" type="button">Back</a>


