@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5 fw-bold animate__animated animate__bounceIn">Welcome to <span class="text-success">PReMaSys</span></h1>
</div>
<div class="row mt-3 text-center">
    <div class="col-lg-6 col-sm-12">
      <img src="~/img/logo.png" class="logo-img mx-auto animate__animated animate__fadeInLeft" alt="PremasysLogo"/>
    </div>
    <div class="col-lg-6 col-sm-12 mt-5">
      <p class="fs-4">Have your employees stay motivated and driven with their work with the help of this website! If you think this can help imrpove your employee's skill and motivation, start now and sign up! </p>
      <img src="~/img/homepicbgr.png" class="mx-auto h-50 animate__animated animate__fadeInRight" alt=""/>
      <p>Don't have an account? Sign up here:</p>
      <a class="btn btn-success rounded-pill w-50 p-2" asp-area="Identity" asp-page="/Account/Register" role="button">Register</a>
    </div>
</div>
 
    

