@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5">Welcome to <span class="text-success"><b>PReMaSys</b></span></h1>
    <img src="~/img/logo.png" class="logo-img" alt="PremasysLogo"/>
    <p class="fs-3"> *** Put a description about PREMASYS ***</p>
</div>
