@model Testertest.Models.DomainAccount

@{
    ViewData["Title"] = "Register";
}


<h4> Company Registration Form </h4>
<hr />
@{
    if (ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
}

<form method="post" class="register-form" asp-action="Register" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="register-header">
        <h1 class=" mt-3">@ViewData["Title"]</h1>
    </div>
    <!-- Company Name -->
    <div class="input-container mb-3 mt-5">
        @*<label asp-for="CompanyName" class="control-label"></label>*@
        <input asp-for="CompanyName" placeholder="Company Name" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <!--Logo-->
    <div class="input-container mb-3">
        <label asp-for="CompanyLogo" class="control-label" Employee Picture:></label>
        <input asp-for="CompanyLogo" class="form-control" type="file" accept="image/*" />
        <span asp-validation-for="CompanyLogo" class="text-danger"></span>
    </div>
    <!--Company Address-->
    <div class="input-container mb-3">
        @* <label asp-for="CompanyAddress" class="control-label"></label>*@
        <input asp-for="CompanyAddress" placeholder="Company Address" class="form-control" />
        <span asp-validation-for="CompanyAddress" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label asp-for="BusinessSize" class="control-label">BusinessSize:</label>
        <select asp-for="BusinessSize" class="form-control"
                asp-items="Html.GetEnumSelectList<BusinessSize>()" required></select>
        <span asp-validation-for="BusinessSize" class="text-danger"></span>
    </div>

    <div class="input-container mb-3">
        @*<label asp-for="CompanyName" class="control-label"></label>*@
        <input asp-for="NatureOfBusiness" placeholder="Nature of Business" class="form-control" />
        <span asp-validation-for="NatureOfBusiness" class="text-danger"></span>
    </div>
    <!--Company Foundation/Establishment Day-->
    <div class="input-container mb-3">
        <label for="companyBirthday">Company Foundation/Establishmend Day:</label>
        <div class="row">
            <!--Company Bday-->
            <div class="col-md-12">
                @*<label asp-for="CompanyBday" class="control-label"></label>*@
                <input asp-for="CompanyBday" placeholder="Company Birthday" class="form-control" />
                <span asp-validation-for="CompanyBday" class="text-danger"></span>
            </div>
        </div>
    </div>

    <!--Admin First name and Last name-->
    @* <div class="input-container mb-3">
    <label for="adminPic">Admin Picture:</label>
    <input type="file" class="form-control" id="inputAdminPic" required>
    </div>
    <div class="input-container mb-3">
    <input type="number" class="form-control" placeholder="Enter Number of Employees" name="id" required />
    </div>*@

    <!--Logo-->
    <div class="input-container mb-3">
        <label asp-for="AdminPicture" class="control-label" Employee Picture:></label>
        <input asp-for="AdminPicture" class="form-control" type="file" accept="image/*" />
        <span asp-validation-for="AdminPicture" class="text-danger"></span>
    </div>

    <div class="input-container  mb-3">
        <div class="row">
            <div class="col-md-6  col-sm-12">
                @* <label asp-for="AdminFirstname" class="control-label"></label>*@
                <input asp-for="AdminFirstname" placeholder="Domain Admin First Name" class="form-control" />
                <span asp-validation-for="AdminFirstname" class="text-danger"></span>
            </div>
            <div class="col-md-6 col-sm-12">
                @* <label asp-for="AdminLastname" class="control-label"></label>*@
                <input asp-for="AdminLastname" placeholder="Domin Admin Last Name" class="form-control" />
                <span asp-validation-for="AdminLastname" class="text-danger"></span>
            </div>
        </div>
    </div>
    <!--Admin Username-->
    <div class="input-container  mb-3">
        @*  <label asp-for="AdminEmail" class="control-label"></label>*@
        <input asp-for="AdminEmail" placeholder="Domain Admin Email" class="form-control" />
        <span asp-validation-for="AdminEmail" class="text-danger"></span>
    </div>

    <!--Admin ContactNo-->
    <div class="input-container  mb-3">
        @*  <label asp-for="AdminEmail" class="control-label"></label>*@
        <input asp-for="ContactNo" placeholder="Contact Number" class="form-control" />
        <span asp-validation-for="ContactNo" class="text-danger"></span>
    </div>

    <!--Password-->
    <div class="input-container  mb-3">
        @* <label asp-for="password" class="control-label"></label>*@
        <input asp-for="password" placeholder="Password" class="form-control" />
        <span asp-validation-for="password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
