
@{
    ViewData["Title"] = "SupportPage";
    Layout = "~/Views/Shared/SupportAdminDash.cshtml";
}

<h1>SupportPage</h1>
<body class="overflow-hidden">
<div class="performance-options-container">
    <div class="performance-options d-flex">
        <a class="option-link" href="~/SupportAdmin/ListSalesEmployee">
          <h1>Sales Employee Records</h1>    
          <img src="~/img/roleadminpic.png" class="mainpage-usrs-pic" />
        </a>
        <a class="option-link between" href="~/SupportAdmin/IndexR">
          <h1>Rewards Records</h1>
          <img src="~/img/rewardspic.png" class="mainpage-usrs-pic"/>
        </a>
    </div>
</div>
</body>
