
@{
    ViewData["Title"] = "SupportPage";
    Layout = "~/Views/Shared/SupportAdminDash.cshtml";
}

  <div class="performance-options-container">
   <div class=" mt-5 mt-md-0">
    <h1 class="text-center mb-5">Support Page</h1>
    <div class="performance-options main-pg-card-whole-support  w-lg-50 w-100">
      <div class="mainpg-card-first-support option-link text-center border border-success rounded p-3 ">
           <a class="option-text" href="~/SupportAdmin/ListSalesEmployee">
          <h3>Sales Employee Records</h3>    
          <img src="~/img/roleadminpic.png" class="img-fluid mainpage-usrs-pic" />
        </a>
        </div>
        <div class="mainpg-card option-link text-center border border-success rounded p-3">
            <a class="option-text last" href="~/SupportAdmin/RewardsRecord">
          <h3>Rewards Records</h3>
          <img src="~/img/rewardspic.png" class="img-fluid mainpage-usrs-pic"/>
        </a>
        </div>
      </div>
    </div>
</div>

