
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutLoggedin.cshtml";
}


<body class="overflow-hidden">
    <div class="performance-options-container">
    <div class="performance-options d-flex">   
       <a class="option-link" href="~/Admin/ReportsPage"  role="button" >
          <h1>Reports</h1>    
          <img src="~/img/reportspic.png" class="mainpage-usrs-pic" />
       </a>
      
        
       <a class="option-link ms-3 me-3" href="~/Admin/ESalesProfitPoints" role="button">
          <h1>Sales Profit Points</h1>
          <img src="~/img/profitspic.png" class="mainpage-usrs-pic"/>
      </a>
      <a class="option-link" href="~/Admin/Reward" role="button">
          <h1>Rewards</h1>
          <img src="~/img/rewardspic.png" class="mainpage-usrs-pic"/>
      </a>
    </div>
</div> 
</body>





