
@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "~/Views/Shared/_LayoutLoggedin.cshtml";
}


<body class="overflow-hidden">
    <div class="performance-options-container">
    <div class="performance-options  main-pg-card-whole">
      <div class="mainpg-card option-link text-center border border-success rounded p-3 ms-3">
           <a class="option-text" href="~/Admin/ReportsPage"  role="button" >
           <h1 class="mt-3">Reports</h1>    
          <img src="~/img/reportspic.png" class="mainpage-usrs-pic" />
       </a>
        </div>
        <div class="mainpg-card option-link text-center border border-success rounded p-3 ms-3 me-3">
             <a class="option-text" href="~/Admin/ESalesProfitPoints" role="button">
          <h1 class="mt-3">Sales Profit Points</h1>
          <img src="~/img/profitspic.png" class="mainpage-usrs-pic"/>
      </a>
        </div>
        <div class="mainpg-card option-link text-center border border-success rounded p-3">
           <a class="option-text" href="~/Admin/Reward" role="button">
          <h1 class="mt-3">Rewards</h1>
          <img src="~/img/rewardspic.png" class="mainpage-usrs-pic"/>
      </a>
      </div>
      </div>
</div>
</body>

@* <div class="performance-options-container">*@
     <!--<div class="performance-options d-flex"> --> 
      
   

      @* <a class="option-link" href="~/Admin/ReportsPage"  role="button" >
          <h1>Reports</h1>    
          <img src="~/img/reportspic.png" class="mainpage-usrs-pic" />
       </a>
       <a class="option-link ms-3 me-3" href="~/Admin/ESalesProfitPoints" role="button">
          <h1>Sales Profit Points</h1>
          <img src="~/img/profitspic.png" class="mainpage-usrs-pic"/>
      </a>
      <a class="option-link" href="~/Admin/Reward" role="button">
          <h1>Rewards</h1>
          <img src="~/img/rewardspic.png" class="mainpage-usrs-pic"/>
      </a>*@
    @*</div>*@
@*</div> *@


 <!--
           <div class="col-lg-4 option-link text-center border border-success rounded p-2 ms-3">
           <a class="option-text" href="~/Admin/ReportsPage"  role="button" >
           <h1>Reports</h1>    
          <img src="~/img/reportspic.png" class="mainpage-usrs-pic" />
       </a>
        </div>
        <div class="col-lg-4 option-link text-center border border-success rounded p-2 ms-3">
             <a class="option-text" href="~/Admin/ESalesProfitPoints" role="button">
          <h1>Sales Profit Points</h1>
          <img src="~/img/profitspic.png" class="mainpage-usrs-pic"/>
      </a>
        </div>
        <div class="col-lg-4 option-link text-center border border-success rounded p-2">
           <a class="option-text" href="~/Admin/Reward" role="button">
          <h1>Rewards</h1>
          <img src="~/img/rewardspic.png" class="mainpage-usrs-pic"/>
      </a>
        -->

