@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
}
<partial name="_EmployeePageTablePartial" />   
<h1 class="page-title-header text-center mt-5"> Contact Us </h1>
<p class="text-center mb-5">Contact us if there is a problem with your system!</p>

<div id="carouselCaptions" class="carousel slide mx-auto" data-bs-ride="false">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="~/img/SEmployees/Nicole.png" class="img-fluid d-block w-100" alt="...">
      <div class="carousel-caption d-none  d-md-block">
        <h5>Nicole Ann Cepria</h5>
        <p>Mobile Contact:09298885757</p>
        <p>Other Contacts:</p>
        <a href="https://www.facebook.com/nicole.cepria/"  target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href="https://twitter.com/nicolecepria"  target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></i></a>  
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/img/mike.png" class="img-fluid d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Michael Ylanan</h5>
        <p>Mobile Contact:09985894426</p>
        <p>Other Contacts:</p>
        <a href="https://www.facebook.com/ylananjr.michael/" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href="https://twitter.com/mbyjr15" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="~/img/mig.png" class="img-fluid d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Miguel Del Rosario</h5>
        <p>Mobile Contact:09174633422</p>
        <p>Other Contacts:</p>
        <a href="https://www.facebook.com/mdr307" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
        <a href="https://twitter.com/dr_migo" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
      </div>
    </div>
     <div class="carousel-item">
      <img src="~/img/miguel-magallanes.jpg" class="img-fluid d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Miguel Magallanes</h5>
        <p>Mobile Contact:09988737921</p>
        <p>Other Contacts:</p>
        <a href="https://www.facebook.com/miguel.magallanes.1654/" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
       @* <a href="*"><i class="fa-brands fa-twitter fa-xl"></i></a>*@
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>