@model PReMaSys.Models.AddToCart

@{
    ViewData["Title"] = "Check Out";
    ViewBag.Title = "Purchase";
}
<h1>Purchased</h1>
@using (@Html.BeginForm())
{
    <div class="container">
        <div class="row">
            <div>
                <h1>Reward Image:</h1><img src="@Url.Content(Model.RewardImage)"/>
                <h1>Reward Name: @Model.RewardName</h1>
                <h1>Reward Price: @Model.RewardPrice</h1>
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
