@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_LayoutEmployeeLoggedin.cshtml";
}

<div  class="Subscription-container">
<h1 class="text-center mt-5 mb-5">Subscription</h1>
<h4 class="text-center mt-5 mb-5">Please pick on the following subscriptions to continue <br /> receiving rewards and benefits from the website:</h4>
<div class="row">
    <div class="col">
      <div class="card mb-3" @*style="width: 18rem;*@">
       <div class="card-header">
        <h4 class="text-center">Free</h4>
       </div>
       <div class="card-body">
        <h1 class="card-title subscription-card-title text-center mt-5 mb-5">$0<small class="text-muted fw-light">/mo</small></h1>
         <ul class="list-unstyled mt-3 mb-4 text-center">
          <li >An item</li>
          <li>A second item</li>
         <li>A third item</li>
        </ul>
      <button type="button" class="w-100 btn btn-lg btn-outline-success mt-4 mb-4"> Subscribe </button>
     </div>
    </div>
  </div>
   <div class="col">
     <div class="card  mb-3" @*style="width: 18rem;*@">
       <div class="card-header">
        <h4 class="text-center">Free</h4>
       </div>
       <div class="card-body">
        <h1 class="card-title subscription-card-title text-center mt-5 mb-5">$0<small class="text-muted fw-light">/mo</small></h1>
         <ul class="list-unstyled mt-3 mb-4 text-center">
          <li >An item</li>
          <li>A second item</li>
         <li>A third item</li>
        </ul>
      <button type="button" class="w-100 btn btn-lg btn-outline-success mt-4 mb-4"> Subscribe </button>
     </div>
    </div>
  </div>
   <div class="col">
      <div class="card  mb-3" @*style="width: 18rem;*@">
       <div class="card-header">
        <h4 class="text-center">Free</h4>
       </div>
       <div class="card-body">
        <h1 class="card-title subscription-card-title text-center mt-5 mb-5">$0<small class="text-muted fw-light">/mo</small></h1>
         <ul class="list-unstyled mt-3 mb-4 text-center">
          <li >An item</li>
          <li>A second item</li>
         <li>A third item</li>
        </ul>
      <button type="button" class="w-100 btn btn-lg btn-outline-success mt-4 mb-4"> Subscribe </button>
     </div>
    </div>
  </div>

</div>
</div>



<!--
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center ">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm subscription-cards">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Free</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title subscription-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-success"> Subscribe </button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm subscription-cards">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
         <div class="card-body">
            <h1 class="card-title subscription-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-success"> Subscribe </button>
          </div>
        </div>
      </div>
      <div class="col">
         <div class="card mb-4 rounded-3 shadow-sm subscription-cards">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
         <div class="card-body">
            <h1 class="card-title subscription-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-success"> Subscribe </button>
          </div>
        </div>
      </div>
    </div>  

-->
