

@{
    Layout = "~/Views/Shared/_LayoutEmail.cshtml";
}


<h3>You are on your way!</h3>
<h3>Let's Confirm your Email Address</h3>
<h6>By clicking on the button below, you are confirming your Email Address</h6>
<a href="HtmlEncoder.Default.Encode(callbackUrl)" class="btn btn-success">CGo</a>